:root {
    --background: #FFF;
    --accent_blue: #2967FF;
    --primary_dark: #2D2D2F;
    --secondary_white: #FFFFFF;
    --secondary_dark: #8D8D8E;
    --secondary_blue: #F0F4FB;
    --transition: 0.2s;
    --secondary_menu_blue: #AEC2EA;

    /*--CATEGORIES COLORS--*/

    --category_0: #2967FF;
    --category_1: #41ff00;
    --category_2: #ffa929;
    --category_3: #ff2929;
    --category_4: #ff7429;
    --category_5: #d129ff;
    --category_6: #00fd94;
    --category_7: #7fff29;
    --category_8: #ff29d4;
    --category_9: #ff2929;

}


