:root{
    --background: #FFF;
    --accent_blue: #2967FF;
    --primary_dark: #2D2D2F;
    --secondary_white: #FFFFFF;
    --secondary_dark: #8D8D8E;
    --secondary_blue: #F0F4FB;
    --transition: 0.2s;
    --secondary_menu_blue: #AEC2EA;
}


